<div class="card">
  <h2>Apply Leave</h2>

  <div class="form-group">
    <label>From Date</label>
    <input type="date" [(ngModel)]="leave.fromDate" />
  </div>

  <div class="form-group">
    <label>To Date</label>
    <input type="date" [(ngModel)]="leave.toDate" />
  </div>

  <div class="form-group">
    <label>Reason</label>
    <input type="text" [(ngModel)]="leave.reason" placeholder="Enter reason" />
  </div>

  <button class="primary-btn" (click)="submit()">Apply Leave</button>
</div>
