<div class="card">
  <h2>Pending Leaves</h2>

  <div *ngIf="leaves.length === 0" class="empty">
    No pending leaves
  </div>

  <div *ngFor="let l of leaves" class="manager-card">
    <div class="info">
      <strong>User {{ l.userId }}</strong>
      <div class="dates">
        {{ l.fromDate | date:'dd-MM-yyyy' }} → {{ l.toDate | date:'dd-MM-yyyy' }}
      </div>
      <div class="reason">Reason: {{ l.reason }}</div>
    </div>

    <div class="actions">
      <button class="approve" (click)="approve(l.id)">Approve</button>
      <button class="reject" (click)="reject(l.id)">Reject</button>
    </div>
  </div>
</div>
